/* For mobile phones: */
.App {
  margin: 25px;
}

.banner {
  color: black;
}

.main-content {
  color: #575757;
}

.email {
  font-weight: bold;
}

img {
  width: 25%;
}

/* For desktop: */
 /* @media only screen and (min-width: 768px) {
} */


