/* For mobile phones: */

.App {
  padding: 7vw;
  color: #575757;
}

.App h1, h2 {
  color: #0d0709;
  font-family: 'Raleway', sans-serif;
}

.App a {
  font-family: 'Raleway', sans-serif;
}

 .App p {
  font-family: 'Open Sans', sans-serif;
}

a:link    { color: #3344dd }  /* unvisited links */
a:visited { color: #884488 }  /* visited links   */
a:hover   { color: #bb1122}  /* user hovers     */
a:active  { color: #bb1122}  /* active links    */

.main-content {
  font-size: 125%;
}

.email {
  font-weight: bold;
  text-decoration: none;
}

/* .links-container {
  margin-bottom: 100px;
} */

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.links > li {
  font-weight: bold;
  list-style: none;
  margin-right: 15px;
}

.github {
  color: #23292D;
  text-decoration: none;
}

.linkedin {
  color: #0677B4;
  text-decoration: none;
}

.links, .project-list {
  margin: 0;
  padding: 0;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.projects-container {
  border-top: 1px solid rgb(223, 223, 223);
  padding: 50px 0px;
  margin: 50px 0px;
}

.project {
  padding: 50px 0px;
  flex: 1;
  list-style: none;
}

.project-title {
  font-weight: bold;
}

.project-image-container {
  padding: 25px;
  border-radius: 5px;
}

.project-image {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.project-link, .project-repo {
  font-weight: bold;
  text-decoration: none;
  margin-right: 25px;
}

.project-stack {
  color: #2B2B2B;
  font-size: 75%;
  /* margin-top: -15px; */
  text-transform: uppercase;
}

.SafeR > div {
  background-color: rgb(162, 209, 172);
}

.SafeR img {
  box-shadow: 3px 3px 7px 2px rgb(87, 168, 104);
}

.Simlify > div {
  background-color: rgb(150, 157, 201);
}

.Simlify img {
  box-shadow: 3px 3px 7px 2px  rgb(55, 63, 110);
}

.footer {
  border-top: 1px solid rgb(223, 223, 223);
}

.footer-img-container {
  padding-top: 25px;
  text-align: center;
}

footer p:nth-child(2) {
  font-weight: bold;
}

.attribution {
  font-weight: normal;
  text-decoration: none;
}

/* For desktop: */
@media only screen and (min-width: 768px) {

  .project-list {
    flex-flow: row wrap;
  }

  .project {
    padding: 25px;
    width: 500px;
    height: 800px;
  }

  .project-desc {
    height: 75px;
  }

  .project-stack {
    height: 40px;
  }

  .project-image-container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }

  .project-image {
    height: 300px;
    width: 500px;
  }
}


